* {
  margin: 0%;
  padding: 0%;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

p {
  text-decoration: underline;
  align-items: center;
  letter-spacing: 15px;
}
